body {
    background-color: rgb(13,132,135);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

header {
    background-color: rgb(23,85,99);
    color: rgb(206,229,219);
    border: solid 3px rgb(74,213,156);
}

h2 {
    background-color: rgb(87,167,164);
    color: rgb(23,85,99);
}
/* background-color: rgb(68,153,171); */